#navbar{
    flex-direction: column;
}

#Home{
    padding: 2px 10px;

}
#Home h1{
    font-size: 0.5 rem;
}
.h-primary{
    font-size: 1.5rem;
}
#Home p{
    font-size: 0.5rem;
}

#services{
    flex-direction: column;
}
#services .box{

}

/* #client-section{
    flex-direction: column;
} */
#clients{
    display: flex;
    flex-direction: column;
}
#client-section {
    position: relative;
    height: 730px;
}
#contact{
     
}
